<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGBGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RGBGame.Properties.Settings>
            <setting name="TopScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Muted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Diff" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="People" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Person" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Player1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player3" serializeAs="String">
                <value>0</value>
            </setting>
        </RGBGame.Properties.Settings>
    </userSettings>
</configuration>